.sidebar .disQuote{
    display: block;
    transition: opacity 0.2s ease-in;
    opacity: 1;
    }
    .sidebar .disQuote.disappear{
      overflow-x: hidden;
      opacity: 0;
      display: none;
    
    
    }
    .sidebar {
      position: fixed;
      background: #000;
      width: 300px;
      height: 100%;
      
      padding: 30px 20px;
      transition: width .2s ease-in;
      
    
     
      
    }
   .sidebar.close{
    width: 80px;
      
    }
    .sidebar .menu-overall{
      cursor: pointer;
      display: flex;
    
    }
    .sidebar .back-icon-side{
      color: whitesmoke;
      
      
      position: absolute;
      top: 5%;
      right: 0px;
      transform: translateY(-50%);
      right: 5%;
      padding: 10px;
      cursor: pointer;
    }
    .sidebar .menu-overall .menu-item{ 
      padding: 5px;
      height: "2.8vh";
      margin-right: "3vw";
      transition: opacity 0.2s ease-in;
     }
     .sidebar.close .menu-overall .menu-item{
      opacity: 0;
      width: 0;
      height: 0;
      overflow: hidden;
    }
    .Route_container.closed{
      
      margin-left: -10vw;
      
      
     
      
    }
    .Route_container{
      
      margin-left: 0px;
      transition: margin-left 0.2s ease-in;
    }
    
  
  .quotearea {
    margin-top: 3vh;
    color: white;
    font-style: italic;
    padding-left: 10%;
    font-size: 2.3vh;
    height: 13vh;
    padding-right: 10%;
  }
  .editbutton {
    padding-right: 80%;
    height: 2.6vh;
    margin-top: 1vh;
    text-align: center;
    color: rgb(90, 89, 89);
  }
  .editbutton :hover {
    color: white;
  }
  .barelement {
    display: flex;
    align-items: center;
    background-color: black;
    margin: 0%;
    font-size: 1.9vh;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    color: grey;
    height: 8.66vh;
    padding-left: 10%;
    margin-right: 0.5vw;
  }
  .barelement:hover {
    color: white;
    text-decoration: "none";
    font-style: normal;
  }
  
  .selected {
    display: flex;
    align-items: center;
    margin: 0%;
    font-size: 1.9vh;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    height: 8.66vh;
    padding-left: 10%;
    margin-right: 0.5vw;
  }
  .logout {
    position: absolute;
    display: flex;
    align-items: center;
    color: grey;
    height: 3vh;
    padding-left: 10%;
    bottom: 3vh;
  }
  .logout:hover {
    color: white;
    cursor: pointer;
  }