.ideaspage
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 85vw;
    margin-left: 15vw;
    align-items: center;
    
    
}
.fields {
    width: 88%;
    border: none;
    margin-top:7px;
    padding: 0%;
    padding-left: 6px;
    border-bottom: 2px solid red;
    background-color: rgba(128,128,124,0);
    color:black;
    text-decoration: solid;
    font-size: 2vh;
    margin-bottom:13px;
  
  }
.ideabox
{
height: auto;
display: flex;
flex-direction: column;
align-items: center;
width: 82vw;
margin-bottom: 2.5vh;
margin-top: 2vh;
margin-right: 2vh;

}
.ideaboxtop
{
    height: 4vh;
    width: 100%;
    padding: 0.5vh;
    font-size: 3vh;
    text-align: left;
    background-color: teal;
    border: 2px solid black;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-between;

}
.ideaboxbottom
{
    height: auto;
    width: 100%;
    padding: 0.5vh;
    font-size: 2.7vh;
    text-align: left;
    background-color:white;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;



}

.newideabutton
{
    margin-left: 72vw;
    margin-top: 1vh;
    width: auto;
    height: auto;
    background-color:rgb(177, 174, 174);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0.5vh;
    border-radius: 5%;
    color: white;
    padding :1vh;
}
.newideabutton:hover
{
    background-color:rgb(126, 123, 123);
}

.editableIdeaName{
  
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

    
        height: 4vh;
        width: 60%;
        padding: 0.5vh;
        font-size: 3vh;
        text-align: left;
        background-color: teal;
       
        color: white;
        font-weight: bold;
        display: flex;
       align-items: center;
    
    
}

.ideabtn{
    padding: 10px;
    height: 30px;
    width: 80px;
}

.ideainput{

    
    padding: 6px;
    height: 20px;
    width: 360px;
    border: 0.5px solid white;
    background-color: teal;
    margin-bottom: 3px;
    color: white;
    border-radius: 3px;
   

}
.savebtn{
    width: 60px;
    height: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-left: 10px;
}