@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap");

.moviesback {
  position: absolute;
  min-height: 100vh;
  height: auto;
  margin-left: 15%;
  width: 85%;
  display: flex;
  flex-direction: column;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  background-color: #181a1c;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 10vh 0;
  color: black;
}
.moviesback > * {
  width: 100%;
}
.hoverOnCursor:hover {
  cursor: pointer;
}
.topbar {
  width: 100%;
  height: 5vh;
  background-color: #0b6d9b;
  color: white;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  border-bottom: 1px;
  border-bottom-style: solid;
}
.topbar2 {
  width: 100%;
  height: auto;
  display: flex;
  font-size: 1rem;
  border-bottom: 1px;
  border-bottom-style: solid;
  font-weight: 300;
  background-color: #8ec5df;
}

.topbar2 p {
  margin: 0.5rem 0;
}

.topbar2:nth-of-type(even) {
  background-color: #0b6d9b;
  color: white;
}

.moviename {
  border-right: 1px;
  width: 35%;
  border-color: white;
  border-right-style: solid;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moviename2 {
  border-right: 1px;
  width: 35%;
  border-right-style: solid;
  border-color: white;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
}
.moviename2 p {
  padding-left: 1rem;
}
.box {
  width: 10vh;
  height: 10vh;
  background-color: blue;
}
.movierating {
  border-right: 1px;
  border-right-style: solid;
  border-color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 15%;
}
.movierating2 {
  border-right: 1px;
  border-right-style: solid;
  border-color: white;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 15%;
}
.moviedesc {
  width: 50%;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moviedesc2 {
  width: 50%;

  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.moviedesc2 p {
  padding-left: 1rem;
}
.moviedesc2 div {
  padding-right: 1rem;
}

.edit-icon:hover {
  color: rgb(70, 70, 70);
}

.trash-icon:hover {
  color: rgb(70, 70, 70);
}

.Heading {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.entrybox {
  padding: 1vw;
  height: auto;
  /* margin-bottom: 20rem; */
  background-color: #181a1c;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.5),
    inset -5px -5px 10px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.5);

  border-radius: 10px;
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  width: 24rem;
  color: white;
}

.formbox {
  margin-top: 20px;
  margin-left: 10px;
}

.numbin {
  border: none;
  margin-top: 7px;
  border-bottom: 2px solid red;
  background-color: rgba(128, 128, 124, 0);
  color: aliceblue;
  text-decoration: solid;
  font-size: 2vh;

  margin-bottom: 13px;
}

.moviesback textarea {
  width: 88%;
  border: none;
  margin-top: 7px;
  font-family: "Poppins", sans-serif;
  background-color: rgba(128, 128, 124, 0);
  color: aliceblue;
  text-decoration: solid;
  font-size: 2vh;
  padding: 0%;
  padding-left: 6px;
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subm2 {
  border-radius: 40px;
  color: white;

  background-color: #181a1c;
  cursor: pointer;

  padding: 1rem;
  box-shadow: inset -2px 2px 6px rgba(255, 255, 255, 0.25),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  transition: all 1s;
  font-weight: bold;
  margin: 10px auto;
  width: 30%;
  min-width: 8rem;
}
.subm2:hover {
  background-color: #03a9f4;

  color: black;
}
.save-button {
  width: 15rem;
  margin: auto;
  border-radius: 0.6rem;
  background-color: #181a1c;
  transition: all 1s;
}
.save-button:hover {
  color: black;
  background-color: #03a9f4;
}

.movie-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating-sort-btn {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.donkey {
  width: 80%;
  font-family: "Poppins", sans-serif;
  background-color: #181a1c;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 10px 15px;
  color: white;

  box-shadow: inset -2px 2px 6px rgba(255, 255, 255, 0.25),
    inset 2px 2px 6px rgba(0, 0, 0, 0.3);
}
#mdesc {
  resize: vertical;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.formbox label {
  color: #03a9f4;
  font-weight: bold;
}

::-webkit-scrollbar{
  width:15px;
}

::-webkit-scrollbar-track{
  border-radius:10px;
  background:white;
  box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb{
  border-radius:10px;
  background:grey;
  box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
}