.books {
  float: right;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.heading,
.list {
  height: 2rem;
  width: 68rem;
  display: flex;
  margin-left: 12rem;
  background-color: #183340;
  color: white;
}
.heading {
  font-weight: 500;
}
.bookname,
.author {
  width: 25%;
  display: flex;
  justify-content: center;
  border: 1px solid #5db2dd;
}
.bookdesc {
  width: 50%;
  border: 1px solid #5db2dd;
}

.list .bookname,
.list .author {
  justify-content: space-around;
  align-items: baseline;
}
.list .bookdesc {
  white-space: pre-wrap;
}

.bookentry {
  margin-left: 12rem;
  padding: 7.05rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookDialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 20px;
  background-color: #183340;
  color: #468bae;
}
.bookDialog h1 {
  color: white;
}
.booktext {
  background-color: transparent;
  resize: vertical;
  width: 90%;
  border-bottom: 1.5px solid #468bae;
  color: white !important;
}
.booktext:last-child {
  white-space: pre-wrap;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(204, 204, 204);
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgb(204, 204, 204);
  opacity: 1;
}

.bookDialog form label {
  font-weight: 500;
}
