.calpage
{
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin-left: 15vw;
 height: 100vh;
}
.toppart{
  height: 100vh;
  width: 85vw;
  display: grid;
  grid-template-columns: 14vw 14vw 14vw 14vw 14vw 14vw ;
 grid-column-gap:.2vh;
 grid-row-gap:.5vh;
 padding-bottom: 15vh ;
}
.bottompart
{
  height: 9vh;
  width: 85vw;
  background-color:darkgoldenrod;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
 position: fixed;
 margin-top: 91vh;
}

.taskbox
{
    margin:0vh;
    margin-left: 1.7vh;
    margin-top: 1.7vh;
    background-image: linear-gradient(to top left,Cornsilk, rgba(255,0,0,1));
    height: 33vh;
    width: 13vw;
    display: flex;
     flex-direction: column;
     box-shadow: 5px 8px rgb(139, 139, 139,0.9);

    border-radius: 5%;
    /*justify-content: center;
    align-items: center;*/
       
}
.popupBtn{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: black;
  color: white;
}
.mediumtaskbox
{
    margin:2vh;
    background-image: linear-gradient(to top left,Cornsilk, rgba(148,0,211,1));
    height: 33vh;
    width: 13vw;
    display: flex;
     flex-direction: column;
     box-shadow: 5px 8px rgb(139, 139, 139,0.9);

    border-radius: 5%;
    cursor: pointer;
    /*justify-content: center;
    align-items: center;*/
       
}
.lowtaskbox
{
    margin:2vh;
    background-image: linear-gradient(to top left,Cornsilk, rgba(255,255,0,1));
    height: 33vh;
    width: 13vw;
    display: flex;
     flex-direction: column;
     box-shadow: 5px 8px rgb(139, 139, 139,0.9);
 
    border-radius: 5%;
    cursor: pointer;
    /*justify-content: center;
    align-items: center;*/
       
}


.newtaskbutton
{
  border-radius: 10%;
  background-color:bisque;
  color: black;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
  margin-right: 2vw;
  height: 7vh;
  font-weight:bolder;
  font-size: 2.3vh;
}
.prioritydesc
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3vw;
  width: 20vw;
  font-size: 2vh;
  cursor: pointer;
}
.redbox
{
  background-image: linear-gradient(to top left, rgba(255,255,255), rgba(255,0,0,1));
  height: 3vh;
  width: 3vh;
  margin-right:1.5vw ;
}
.yellowbox
{
  background-image: linear-gradient(to top left, rgba(255,255,255), rgba(148,0,211,1));
  height: 3vh;
  width: 3vh;
  margin-right:1.5vw ;
}
.violetbox
{
  background-image: linear-gradient(to top left, rgba(255,255,255), rgba(255,255,0,1));
  height: 3vh;
  width: 3vh;
  margin-right:1.5vw ;
}
.newtaskbutton:hover
{
  background-color: aqua;
  text-decoration: underline;
  cursor: pointer;
}

.crossbutton
{
  
  width: 5.05vh;
  height:5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 42.5vw;
  font-size: 2vh;
}
.crossbutton:hover
{
  background-color: rgb(172, 165, 165,0.5);
}

.forhover :hover
{
color: white;
}
.toppar2
{
  margin:0%;
  padding: 0%;
}
.topbar
{ margin: 0%;;
}

.formarea
{
padding:0vw 0vw 0vw 1vw ;
font-weight: bolder;
display: flex;
flex-direction: column;
}
.fields {
  width: 88%;
  border: none;
  margin-top:0.5vh;
  margin-bottom:1.5vh;

  padding: 0%;
  border-bottom: 2px solid red;
  background-color: rgba(128,128,124,0);
  color:black;
  text-decoration: solid;
  font-size: 1.8vh;

}

.subbut {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 2%;
  height: 14%;
  font-size: 2.5vh;
}

.subbut:hover {
  background-color: #45a049;
  cursor: pointer;
}
.buthover
{
  background-color: #45a049 ;
  color:black;
  font-weight:600;
  cursor: pointer;

}
.buthover:hover
{
  background-color:#3cb371

  ;
 color:black;
}